<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @team.age %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @team.bio %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
