<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <div class="logo-image">
                    <a href="#" title="Home">
                        <%= image_tag("logo.png") %>
                            <h3>RED PANTHERS</h3>
                    </a>
                </div>
            </div>
            <div class="hidden-xs col-sm-6">
                <div class="header-right">
                    <div class="info-box left">
                        <div class="info-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="info-content">
                            <h3>Customer Supports &amp; Sells</h3>
                            <p>(+89) 530-352-3027</p>
                        </div>
                    </div>
                    <div class="info-box right">
                        <div class="info-icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="info-content">
                            <h3>Opening Times</h3>
                            <p>Mon - Fri 09.00 - 19.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="mainmanu-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- Main Menu area -->
                <div class="mainmenu">
                    <nav>
                        <ul>
                          <li><a href="<%= url_for controller:'home', action:'index' %>">Home</a></li>
                          <li><a href="<%= url_for :about %>">About firm</a></li>
                          <li><a href="<%= url_for '/service' %>">Services</a></li>
                          <li><%= link_to 'price list', :price %></li>
                            <li class="expand">
                                <a href="teams">Team Members</a>
                                <ul class="restrain sub-menu">
                                    <li><a href="teams">Team</a></li>

                                </ul>
                            </li>
                            <li class="expand">
                                <a href="practicestyle1"> Practice areas</a>
                                <ul class="restrain sub-menu">
                                    <li><a href="practicestyle1">Practice areas Style 1</a></li>
                                    <li><a href="practicestyle2">Practice areas Style 2</a></li>
                                </ul>
                            </li>
                            <li class="expand">
                                <a href="blog"> Blog</a>
                                <ul class="restrain sub-menu">
                                    <li><a href="single-item">Single Item</a></li>
                                    <li><a href="tag-page">Tag Page</a></li>
                                </ul>
                            </li>
                            <li class="expand">
                                <a href="contact">Contact</a>
                            </li>
                            <li class="expand">
                                <a href="faq-page">FAQ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row hidden-lg">
                    <!-- Mobile Menu area -->
                    <div class="col-sm-12 mobile-menu-area">
                        <div class="mobile-menu hidden-md" id="mob-menu" style="display: block;">
                            <nav>
                                <ul>
                                    <li><a href="<%= url_for "/" %>">Home</a></li>
                                    <li><a href="<%= url_for :about %>">About firm</a></li>
                                    <li><a href="<%= url_for :service %>">Services</a></li>
                                    <li><%= link_to 'price list', :price %></li>
                                    <li>
                                        <a href="teams">Team Members</a>
                                        <ul class="restrain sub-menu">
                                            <li><a href="teams">Team</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="practicestyle1">Practice areas</a>
                                        <ul>
                                            <li><a href="practicestyle1">Practice areas Style 1</a></li>
                                            <li><a href="practicestyle2">Practice areas Style 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog">Blog</a>
                                        <ul>
                                            <li><a href="single-item">Single Item</a></li>
                                            <li><a href="tag-page">Tag Page</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="faq-page">FAQ</a></li>

                                    <li>
                                        <a href="contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
