<!-- Memu Area end -->
		<!-- Nav Helper start -->
		<div class="nav-helper-area" style="background: transparent url('img/nav-helper.png') repeat scroll 0 0">
			<div class="container">
				<ol class="breadcrumb">
					<li class="active">You are here:</li>
					<li><a href="index.html">Home</a></li>
					<li> <span>About firm</span></li>
				</ol>
			</div>
		</div>
		<!-- Nav Helper end -->
		
		<!-- About Artical start -->
		<div class="about-artical-area section-padding2">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<!-- About Content -->
						<div class="artical-list">
							<h2 class="artical-title">
								Providing Legal Help
							</h2>
							<p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which looks anitime even believable. If you are going to use passage of lorem Ipsum you need to be sure there is anything works lorem ipsum as their default model text and search for loremipsum will uncover many web sites still in their infancy various versions have evolved over the years.</p>
							<h2 class="artical-title">Last six year statistics</h2>
							<h3 class="artical-stats">Year 2013 - 2016 <span>( 600 cases won )</span></h3>
							<p>Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque.</p>
							<p>Fusce vel enim sapien. Vivamus pellentesque hendrerit erat, sit amet dictum nibh viverra iaculis. Sed porta nisl molestie hendrerit. Integer tempus pulvinar laoreet.</p>
							<p>Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque.</p>
						</div>
					</div>
					<div class="col-md-6">
						<!-- About Image -->
						<div class="right-artical">
							<img src="<%= image_path "whoweare.png"%>" class="img-responsive" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About Artical end -->		
		<!-- Coutner start-->
		<div class="counter-area" style="background: url('img/counter-bg.jpg') repeat scroll 0 0;">
			<div class="container">
				<div class="row">
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">365</span>
								</span>
								<h3>Happy Clients</h3>								
							</div>
						</div>
					</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">95</span>%</span>
								<h3>Cases success</h3>								
							</div>
						</div>
					</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">754</span>k</span>
								<h3>Recovered</h3>								
							</div>
						</div>
					</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">821</span>
								</span>
								<h3>Cases done</h3>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Coutner end-->
		<!-- Team area start -->
		<div class="team-area section-padding">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12 col-sm-12 col-xs-12">
						<!-- Team Title -->
                        <div class="section-title text-center">
                            <h1>Meet Our Teams </br></h1>
                        
                        </div>
		            </div>
		        </div>
				<div class="row section-margin">
					<div class="col-md-3 col-sm-4 col-xs-12">
						<!-- Team Member -->
						<div class="team-members">
							<!-- Member Image -->
							<div class="member-image">
													<img src="<%= image_path "1.jpg"%>" class="img-responsive" alt="">
							</div>
							<!-- Member Content -->
							<div class="member-content text-center">
								<h4 class="member-name">
									<a href="#">Jennifer Lawrence</a>
								</h4>
								<div class="position-title">Manager</div>
								<p class="practice">Practice areas</p>
								<p class="member-description">Business, Real Estate, Land, Family, Cyber Crime</p>
							</div>
							<!-- Member Widget -->
							<div class="member-widget">
								<ul>
									<li>
										<a href="#" target="blank" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Googleplus">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" title="Mail">
											<i class="fa fa-envelope"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="team-members">
							<!-- Member Image -->
							<div class="member-image">
															<img src="<%= image_path "2.jpg"%>" class="img-responsive" alt="">
							</div>
							<!-- Member Content -->
							<div class="member-content text-center">
								<h4 class="member-name">
									<a href="#">Ashim Kumar</a>
								</h4>
								<div class="position-title">Founder & CEO </div>
								<p class="practice">Practice areas</p>
								<p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
							</div>
							<!-- Member Widget -->
							<div class="member-widget">
								<ul>
									<li>
										<a href="#" target="blank" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Googleplus">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" title="Mail">
											<i class="fa fa-envelope"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
							<!-- Member Image -->
						<div class="team-members">
							<div class="member-image">
															<img src="<%= image_path "3.jpg"%>" class="img-responsive" alt="">
							</div>
							<!-- Member Content -->
							<div class="member-content text-center">
								<h4 class="member-name">
									<a href="#">Salim Rana</a>
								</h4>
								<div class="position-title">Counsel</div>
								<p class="practice">Practice areas</p>
								<p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
							</div>
							<!-- Member Widget -->
							<div class="member-widget">
								<ul>
									<li>
										<a href="#" target="blank" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Googleplus">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" title="Mail">
											<i class="fa fa-envelope"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 hidden-sm hidden-xs">
							<!-- Member Image -->
						<div class="team-members">
							<div class="member-image">
														<img src="<%= image_path "4.jpg"%>" class="img-responsive" alt="">
							</div>
							<!-- Member Content -->
							<div class="member-content text-center">
								<h4 class="member-name">
									<a href="#">Emma Watson</a>
								</h4>
								<div class="position-title">Associate</div>
								<p class="practice">Practice areas</p>
								<p class="member-description">Real Estate, Criminal, Business, Cyber Crime, Family,</p>
							</div>
							<!-- Member Widget -->
							<div class="member-widget">
								<ul>
									<li>
										<a href="#" target="blank" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Googleplus">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" title="Mail">
											<i class="fa fa-envelope"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
		    </div>
		</div>