<!-- Memu Area end -->
		<!-- Nav Helper start -->
		<div class="nav-helper-area" style="background: transparent url('img/nav-helper.png') repeat scroll 0 0">
			<div class="container">
				<ol class="breadcrumb">
					<li class="active"></br>You are here:</li>
					<li><a href="/"  style="color:#ff8566">Home</a></li>
					<li> <span>About firm</span></li>
				</ol>
			</div>
		</div>
		<!-- Nav Helper end -->
		
		<!-- About Artical start -->
		<div class="about-artical-area section-padding2">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<!-- About Content -->
						<div class="artical-list">
							<h2 class="artical-title" style="color:#ff8566">
								ABOUT US
							</h2>
							<p></br>Red Panthers is a software consultancy that specialises in Ruby on Rails. We use an innovative unit (pair) based model in all our projects. As part of the model we use of modern agile project management methodologies, interaction design, effective product strategy, trust, transparency and a carefully selected suite of tools to ensure that our clients get the best technological solutions possible as we turn their ideas into scalable and maintainable products. We believe in focusing on the future and moving forward.</p>
							</div>
					</div>
					<div class="col-md-4">
						<!-- About Image -->
						<div class="right-artical">
							<img src="<%= image_path 'r1.jpg'%>" class="img-responsive" alt="">
						</div>
					</div>
              </div>
			  <hr>

				<div class="row">
					<div class="col-md-4">
						<!-- About Image -->
						<div class="left-artical">
							<img src="<%= image_path 'r2.jpg'%>" class="img-responsive" alt="">
						</div>
					</div>
					<div class="col-md-8">
						<!-- About Content -->
						<div class="artical-list">
							<h2 class="artical-title" style="color:#ff8566">
							</br>	VISION AND MISSION
							</h2>
							<p></br>To help our clients achieve their potential through technology.

To become one of the world's leading companies and bring innovations that improve the way the world builds products and foster technological growth</p>
							</div>
					</div>
					
              </div>
<hr>
<div class="row">
					<div class="col-md-8">
						<!-- About Content -->
						<div class="artical-list">
							<h2 class="artical-title" style="color:#ff8566">
							</br>	</br>CULTURE
							</h2>
							<p></br>We’ve always wanted Red Panthers to be a place that brought together smart, talented people from diverse backgrounds, and where you could bring your whole self to work. Working with smart, talented colleagues in a free, innovative environment is the dream of all people. Here at Red Panthers we provide a platform for everyone to present their ideas, chose and work on disrupting technologies. </p>
							</div>
					</div>
					<div class="col-md-4">
						<!-- About Image -->
						<div class="right-artical">
							<img src="<%= image_path 'r3.jpg'%>" class="img-responsive" alt="">
						</div>
					</div>
              </div>
			  <hr>
				<div class="row">
					<div class="col-md-4">
						<!-- About Image -->
						<div class="left-artical">
							<img src="<%= image_path 'r4.jpg'%>" class="img-responsive" alt="">
						</div>
					</div>
					<div class="col-md-8">
						<!-- About Content -->
						<div class="artical-list">
							<h2 class="artical-title" style="color:#ff8566">
								</br></br>PROCESS
							</h2>
							<p></br>At Red Panthers, we follow a well-defined process that is involved in ensuring the success of our development projects.Our process facilitates regular communication between our development team and the project stakeholders to fully understand the needs of our clients. This process allows us to deliver the high quality solution that apt or beats our clients expectations. Success of our process is in the hands of our UNIT members.The UNIT consist of four members like project manager,two developers and one designer.</p>
							</div>
					</div>
					
              </div>
			  <hr>
			  <div class="row">
					<div class="col-md-8">
						<!-- About Content -->
						<div class="artical-list">
							<h2 class="artical-title" style="color:#ff8566">
								</br></br>OPEN SOURCE
							</h2>
							<p></br>At Red Panthers, we always wanted to create a culture of continuous learning, innovation and delivery. We thrive to better ourselves, our craftsmanship, technical skills by learning new languages, frameworks, technology, methodologies that would help us to improve efficiency and productivity. Often we conduct technical talks/sessions sharing the knowledge we gained with the team members. We have benefitted from the open source community, and we believe that its our responsibility to share the knowledge that was once passed to us. </p>
							</div>
					</div>
					<div class="col-md-4">
						<!-- About Image -->
						<div class="right-artical">
							<img src="<%= image_path 'r5.jpg'%>" class="img-responsive" alt="">
						</div>
					</div>
              </div>

			</div>
		</div>
		<hr>
		<!-- About Artical end -->		
		<!-- Coutner start-->
		<div class="counter-area" style="background: url(<%= image_path 'whoweare.png'%>) repeat scroll 0 0;">
			<div class="container">
				<div class="row">
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">365</span>
								</span>
								<h3>Happy Clients</h3>								
							</div>
						</div>
					</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">95</span>%</span>
								<h3>Cases success</h3>								
							</div>
						</div>
					</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">754</span>k</span>
								<h3>Recovered</h3>								
							</div>
						</div>
					</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
						<div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
							<div class="counter-info">
								<span class="fcount">
									<span class="counter">821</span>
								</span>
								<h3>Cases done</h3>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Coutner end-->
		<!-- Team area start -->
		<div class="team-area section-padding">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12 col-sm-12 col-xs-12">
						<!-- Team Title -->
                        <div class="section-title text-center">
                            <h1>Meet Our Teams </br></h1>
                        <hr>
                        </div>
		            </div>
		        </div>
				
				<div class="row section-margin">
					<div class="col-md-3 col-sm-4 col-xs-12">
						<!-- Team Member -->
						<div class="team-members">
							<!-- Member Image -->
							<div class="member-image">
													<img src="<%= image_path '3.jpg'%>" class="img-responsive" alt="">
							</div>
							<!-- Member Content -->
							<div class="member-content text-center">
								<h4 class="member-name">
									<a href="#">Harishankar</a>
								</h4>
								<div class="position-title">Founder and CEO</div>
								<p class="practice" >Practice areas</p>
								<p class="member-description">Business, Real Estate, Land, Family, Cyber Crime</p>
							</div>
							<!-- Member Widget -->
							<div class="member-widget">
								<ul>
									<li>
										<a href="#" target="blank" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Googleplus">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" title="Mail">
											<i class="fa fa-envelope"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="team-members">
							<!-- Member Image -->
							<div class="member-image">
															<img src="<%= image_path '13.jpg'%>" class="img-responsive" alt=""  width="300">
							</div>
							<!-- Member Content -->
							<div class="member-content text-center">
								<h4 class="member-name">
									<a href="#">Sibin</a>
								</h4>
								<div class="position-title">Developer </div>
								<p class="practice">Practice areas</p>
								<p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
							</div>
							<!-- Member Widget -->
							<div class="member-widget">
								<ul>
									<li>
										<a href="#" target="blank" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Googleplus">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" title="Mail">
											<i class="fa fa-envelope"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
							<!-- Member Image -->
						<div class="team-members">
							<div class="member-image">
															<img src="<%= image_path '2.jpg'%>" class="img-responsive" alt="" >
							</div>
							<!-- Member Content -->
							<div class="member-content text-center">
								<h4 class="member-name">
									<a  href="#">Ajay</a>
								</h4>
								<div class="position-title">Developer</div>
								<p class="practice" >Practice areas</p>
								<p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
							</div>
							<!-- Member Widget -->
							<div class="member-widget">
								<ul>
									<li>
										<a href="#" target="blank" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Googleplus">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" title="Mail">
											<i class="fa fa-envelope"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 hidden-sm hidden-xs">
							<!-- Member Image -->
						<div class="team-members">
							<div class="member-image">
														<img src="<%= image_path '4.jpg'%>" class="img-responsive" alt="">
							</div>
							<!-- Member Content -->
							<div class="member-content text-center">
								<h4 class="member-name">
									<a  href="#">Geethu</a>
								</h4>
								<div class="position-title">HR</br></div>
								<p class="practice" >Practice areas</p>
								<p class="member-description">Real Estate, Criminal, Business, Cyber Crime, Family,</p>
							</div>
							<!-- Member Widget -->
							<div class="member-widget">
								<ul>
									<li>
										<a href="#" target="blank" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank" title="Googleplus">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" title="Mail">
											<i class="fa fa-envelope"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
		    </div>
		</div>