<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">

<head>
    <title>RedPanthers</title>

</head>

<body>
<div class="header-area">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="logo-image">
							<a href="#" title="Home">
								<%= image_tag "brand_logo.png" %>
                                <h1>RED PANTHERS</h1>
							</a>
						</div>
					</div>
					<div class="hidden-xs col-sm-6">
						<div class="header-right">
							<div class="info-box left">
								<div class="info-icon">
									<i class="fa fa-phone"></i>
								</div>
								<div class="info-content">
									<h3>Customer Supports &amp; Sells</h3>
									<p>(+89) 530-352-3027</p>
								</div>
							</div>
							<div class="info-box right">
								<div class="info-icon">
									<i class="fa fa-clock-o"></i>
								</div>
								<div class="info-content">
									<h3>Opening Times</h3>
									<p>Mon - Fri 10.00 - 18.00</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


    

    <div class="mainmanu-area">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<!-- Main Menu area -->
						<div class="mainmenu">
							<nav>
								<ul>
                                    <li class="expand"><a href="#">Home</a></li>
                                    <li class="expand"><a href="about">About firm</a></li>
                                    <li class="expand"><a href="services">Services</a></li>
                                    <li class="expand"><a href="home/price">Price list</a></li>
									<li class="expand">
										<a href="#">Attorneys</a>
										<ul class="restrain sub-menu">
											<li><a href="attorneys-style-1.html">Attorneys Style 1</a></li>
											<li><a href="attorneys-style-2.html">Attorneys Style 2</a></li>
											<li><a href="attorneys-style-3.html">Attorneys Style 3</a></li>
											<li><a href="single-attorney.html">Attorneys Single</a></li>
										</ul>
									</li>
									<li class="expand">
										<a href="practice-areas-style-1.html"> Practice areas</a>
										<ul class="restrain sub-menu">
											<li><a href="practice-areas-style-1.html">Practice areas Style 1</a></li>
											<li><a href="practice-areas-style-2.html">Practice areas Style 2</a></li>
										</ul>
									</li>
									<li class="expand">
										<a href="blog.html"> Blog</a>
										<ul class="restrain sub-menu">
											<li><a href="single-item.html">Single Item</a></li>
											<li><a href="tag-page.html">Tag Page</a></li>
										</ul>
									</li>
									<li class="expand">
										<a href="#">Page</a>
										<ul class="restrain sub-menu">
											<li><a href="attorney.html">Attorney</a></li>
											<li><a href="faq-page.html">FAQ page</a></li>
										</ul>
									</li>
									<li class="expand">
										<a href="home/contact"> Contact</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="row hidden-lg">
							<!-- Mobile Menu area -->
							<div class="col-sm-12 mobile-menu-area">
								<div class="mobile-menu hidden-md" id="mob-menu" style="display: block;">
									<nav>
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="about.html">About firm</a></li>
											<li><a href="services.html">Services</a></li>
											<li><a href="price-list.html">price list</a></li>
											<li>
												<a href="#">Attorneys</a>
												<ul>
													<li><a href="attorneys-style-1.html">Attorneys Style 1</a></li>
													<li><a href="attorneys-style-2.html">Attorneys Style 2</a></li>
													<li><a href="attorneys-style-3.html">Attorneys Style 3</a></li>
													<li><a href="single-attorney.html">Attorneys Single</a></li>
												</ul>
											</li>
                                            <li>
                                                <a href="practice-areas-style-1.html">Practice areas</a>
                                                <ul>
                                                    <li><a href="practice-areas-style-1.html">Practice areas Style 1</a></li>
                                                    <li><a href="practice-areas-style-2.html">Practice areas Style 2</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog</a>
                                                <ul>
                                                    <li><a href="single-item.html">Single Item</a></li>
                                                    <li><a href="tag-page.html">Tag Page</a></li>
                                                </ul>
                                            </li>
											<li>
												<a href="#">Pages</a>
												<ul>
													<li><a href="attorney.html">Attorney</a></li>
													<li><a href="faq-page.html">FAQ page</a></li>
												</ul>
											</li>
                                            <li>
                                                <a href="contact.html">Contact</a>
                                            </li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
    <div id="wrapper">


        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                
                    <%= image_tag "bg1.jpg" %>
                                    <%= image_tag "bg2.jpg" %>
                        
                        
                             
                  <div class="container slider-height">
						<div class="row slider-height">
							<div class="col-md-6 slider-height">
								<div class="slide-text small-hidden">
									<!-- layer 1 -->
									<div class="cap-title title-black wow fadeInUp animated" data-wow-duration="0.9s" data-wow-delay="0s" style="visibility: visible; animation-duration: 0.9s; animation-delay: 0s; animation-name: fadeInUp;">
										<h3>Experienced <br> Attorneys</h3>
									</div>
									
									<!-- layer 3 -->
									<div class="cap-more wow fadeInDown animated" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInDown;">
										<a href="#">Learn More</a>
									</div>	

                                    <div class="cap-img cap-img-2 wow fadeInDown animated animated" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInDown;">
									<%= image_tag "bg1.jpg" %>
								</div>		

                                		
								</div>
															
							</div>
						</div>
					</div>
            
        </div>

    </div>












    <div class="feature-header section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="featured-inner">
                        <!-- Section Title start -->
                        <div class="section-title">
                            <h3>We are passionate helping clients</h3>
                            <p>Experience, Reliability, Ethics</p>
                        </div>
                        <!-- Featured Details start -->
                        <div class="featured-details">
                            <p>Modo aperiam constituto ea sit, ius in magna altera. Quo inani tollit eu. Vocibus omittantur id eos, inani eirmod honestatis pri id, erat vivendum ex vim. Et erat dignissim est, eros utinam eu pri, assum exerci nusquam eu vix.
                                Id brute fuisset disputationi vim, sea in tritani conceptam, et movet putant euismod nec. <br>Ferri omnis nemore ea qui, nam id blandit appareat pericula.</p>
                            <h4>Get your Free Consultation <strong>(088) 123-456-7890</strong> Available 24/7</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="feature">
        <!-- Feature List -->
        <ul class="feature-list">
            <!-- Single Feature -->
            <li class="single-feature">
                <div class="feature-box">
                    <p><i class="fa fa-user-secret"></i></p>
                    <h3>Criminal law</h3>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur ratione voluptatem sequi nesciunt</p>
                </div>
            </li>
            <li class="single-feature">
                <div class="feature-box">
                    <p><i class="fa fa-gavel"></i></p>
                    <h3>Criminal law</h3>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur ratione voluptatem sequi nesciunt</p>
                </div>
            </li>
            <li class="single-feature">
                <div class="feature-box">
                    <p><i class="fa fa-heartbeat"></i></p>
                    <h3>Criminal law</h3>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur ratione voluptatem sequi nesciunt</p>
                </div>
            </li>
        </ul>
    </div>










    <div class="extension-area section-padding">
        <div class="container">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div style="width:100%">
                        <canvas id="canvas" height="416" width="555" style="width: 555px; height: 416px;"></canvas>
                    </div>
                    <script>
                        var randomScalingFactor = function() {
                            return Math.round(Math.random() * 6)
                        };
                        var barChartData = {
                            labels: ["2009", "2010", "2011", "2012", "2013", "2014", "2016"],
                            datasets: [{
                                fillColor: "rgb(249, 109, 85)",
                                strokeColor: "rgb(249, 109, 85)",
                                data: [1, 3, 2, 4, 6, 2, 3]
                            }]
                        }
                        window.onload = function() {
                            var ctx = document.getElementById("canvas").getContext("2d");
                            window.myBar = new Chart(ctx).Bar(barChartData, {
                                responsive: true,
                                datasetStrokeWidth: 2
                            });
                        }
                    </script>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="extension-inner">
                        <h2 class="stats-title">
		                        Last six year <strong>statistics</strong>
		                    </h2>
                        <h3 class="stats">
		                        Year 2009 - 2010 <strong>( 600 cases won )</strong>
		                    </h3>
                        <p>Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque.</p>
                        <p>Fusce vel enim sapien. Vivamus pellentesque hendrerit erat, sit amet dictum nibh viverra iaculis. Sed porta nisl molestie hendrerit. Integer tempus pulvinar laoreet.</p>
                        <h3 class="stats-sub">We have provided so far</h3>
                        <div class="row">
                            <div class="col-md-16 col-sm-6 col-xs-12">
                                <ul class="fa-ul">
                                    <li>
                                        <i class="fa fa-check"></i> Lorem ipsum dolor sit amet
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Lorem ipsum dolor sit amet
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Lorem ipsum dolor sit amet
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-16 col-sm-6 col-xs-12">
                                <ul class="fa-ul">
                                    <li>
                                        <i class="fa fa-check"></i> Lorem ipsum dolor sit amet
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Lorem ipsum dolor sit amet
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Lorem ipsum dolor sit amet
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <div class="counter-area">

        <div class="counter-area" style="background: " <%=image_path "counter-bg.jpg" %>">

            <div class="container">
                <div class="row">
                    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="single-counter wow animated" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s;">
                            <div class="counter-info">
                                <span class="fcount">
									<span class="counter">365</span>
                                </span>
                                <h3>Happy Clients</h3>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="single-counter wow animated" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s;">
                            <div class="counter-info">
                                <span class="fcount">
									<span class="counter">95</span>%</span>
                                <h3>Cases success</h3>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="single-counter wow animated" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s;">
                            <div class="counter-info">
                                <span class="fcount">
									<span class="counter">754</span>k</span>
                                <h3>Recovered</h3>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="single-counter wow animated" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s;">
                            <div class="counter-info">
                                <span class="fcount">
									<span class="counter">821</span>
                                </span>
                                <h3>Cases done</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>








        <div class="team-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Team Title -->
                        <div class="section-title text-center">
                            <h1>Meet Our Teams </br></h1>

                        </div>
                    </div>
                </div>
                <div class="row section-margin">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Team Member -->
                        <div class="team-members">
                            <!-- Member Image -->
                            <div class="member-image">
                                <img src="<%= image_path '1.jpg' %>" class="img-responsive" alt="">
                            </div>
                            <!-- Member Content -->
                            <div class="member-content text-center">
                                <h4 class="member-name">
									<a href="#">Jennifer Lawrence</a>
								</h4>
                                <div class="position-title">Manager</div>
                                <p class="practice">Practice areas</p>
                                <p class="member-description">Business, Real Estate, Land, Family, Cyber Crime</p>
                            </div>
                            <!-- Member Widget -->
                            <div class="member-widget">
                                <ul>
                                    <li>
                                        <a href="#" target="blank" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Googleplus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Mail">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="team-members">
                            <!-- Member Image -->
                            <div class="member-image">
                                <img src="<%= image_path '2.jpg'%>" class="img-responsive" alt="">
                            </div>
                            <!-- Member Content -->
                            <div class="member-content text-center">
                                <h4 class="member-name">
									<a href="#">Ashim Kumar</a>
								</h4>
                                <div class="position-title">Founder & CEO </div>
                                <p class="practice">Practice areas</p>
                                <p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
                            </div>
                            <!-- Member Widget -->
                            <div class="member-widget">
                                <ul>
                                    <li>
                                        <a href="#" target="blank" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Googleplus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Mail">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Member Image -->
                        <div class="team-members">
                            <div class="member-image">
                                <img src="<%= image_path '3.jpg'%>" class="img-responsive" alt="">
                            </div>
                            <!-- Member Content -->
                            <div class="member-content text-center">
                                <h4 class="member-name">
									<a href="#">Salim Rana</a>
								</h4>
                                <div class="position-title">Counsel</div>
                                <p class="practice">Practice areas</p>
                                <p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
                            </div>
                            <!-- Member Widget -->
                            <div class="member-widget">
                                <ul>
                                    <li>
                                        <a href="#" target="blank" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Googleplus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Mail">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <!-- Member Image -->
                        <div class="team-members">
                            <div class="member-image">
                                <img src="<%= image_path '4.jpg'%>" class="img-responsive" alt="">
                            </div>
                            <!-- Member Content -->
                            <div class="member-content text-center">
                                <h4 class="member-name">
									<a href="#">Emma Watson</a>
								</h4>
                                <div class="position-title">Associate</div>
                                <p class="practice">Practice areas</p>
                                <p class="member-description">Real Estate, Criminal, Business, Cyber Crime, Family,</p>
                            </div>
                            <!-- Member Widget -->
                            <div class="member-widget">
                                <ul>
                                    <li>
                                        <a href="#" target="blank" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Googleplus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Mail">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>










<div class="blog-area section-padding">
					<div class="container">
				        <div class="row">
				            <div class="col-md-12 col-sm-12 col-xs-12">
							<!-- Blog Title -->
		                        <div class="section-title">
		                            <h3>Read about our cases</h3>
		                            <p>Vocibus omittantur id eos, inani eirmod honestatis pri id</p>
		                        </div>
				            </div>
				        </div>
						<!-- Blog List -->
						<div class="row section-margin">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<!-- Single Blog -->
								<div class="single-blog">
								<!-- Blog Image -->
									<div class="blog-image">
										<a href="#">
											<img src="<%= image_path '5.jpg'%>" alt="">
										</a>
									</div>
									<!-- Blog Content -->
									<div class="blog-content section-margin">
										<!-- Blog Content Header -->
										<div class="blog-content-header">
											<!-- Blog Content Header Left -->
											<div class="header-left pull-left">
												<a href="#" class="title">Defending your client</a>
												<div class="header-left-footer">
													Posted by
													<a href="#">Super User</a>
												</div>
											</div>
											<!-- Blog Content Header Right -->
											<div class="header-right pull-right">
												<span class="blog-month">Aug</span>
												<span class="blog-day">17</span>
											</div>
										</div>
										<div class="clear-both"></div>
										<!-- Main Blog Content Right -->
										<p class="main-blog-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi… </p>
									</div>
									<div class="clear-both"></div>
									<!-- Blog Footer -->
									<div class="blog-footer section-margin">
										<div class="footer-left pull-left">
											<a href="#">Ream more</a>
										</div>
										<div class="footer-right pull-right">
											in
											<a href="#">Cases</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<!-- Single Blog -->
								<div class="single-blog">
									<!-- Blog Image -->
									<div class="blog-image">
										<a href="#">
											<img src="<%= image_path '6.jpg'%>" alt="">
										</a>
									</div>
									<!-- Blog Content -->
									<div class="blog-content section-margin">
										<!-- Blog Content Header -->
										<div class="blog-content-header">
											<!-- Blog Content Header Left-->
											<div class="header-left pull-left">
												<a href="#" class="title">Your first trial</a>
												<div class="header-left-footer">
													Posted by
													<a href="#">Super User</a>
												</div>
											</div>
											<!-- Blog Content Header Right -->
											<div class="header-right pull-right">
												<span class="blog-month">Aug</span>
												<span class="blog-day">17</span>
											</div>
										</div>
										<div class="clear-both"></div>
										<!-- Main Blog Content -->
										<p class="main-blog-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi… </p>
									</div>
									<div class="clear-both"></div>
									<!-- Blog Footer -->
									<div class="blog-footer  section-margin">
										<div class="footer-left pull-left">
											<a href="#">Ream more</a>
										</div>
										<div class="footer-right pull-right">
											in
											<a href="#">Cases</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<!-- Single Blog -->
								<div class="single-blog">
								<!-- Blog Image -->
									<div class="blog-image">
										<a href="#">
											<img src="<%= image_path '7.jpg'%>" alt="">
										</a>
									</div>
									<!-- Blog Content -->
									<div class="blog-content section-margin">
										<!-- Blog Content Header -->
										<div class="blog-content-header">
											<!-- Blog Content Header Left -->
											<div class="header-left pull-left">
												<a href="#" class="title">The value of perks</a>
												<div class="header-left-footer">
													Posted by
													<a href="#">Super User</a>
												</div>
											</div>
											<!-- Blog Content Header Right -->
											<div class="header-right pull-right">
												<span class="blog-month">Aug</span>
												<span class="blog-day">17</span>
											</div>
										</div>
										<div class="clear-both"></div>
										<!-- Main Blog Content -->
										<p class="main-blog-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi… </p>
									</div>
									<div class="clear-both"></div>
									<!-- Blog Footer -->
									<div class="blog-footer  section-margin">
										<div class="footer-left pull-left">
											<a href="#">Ream more</a>
										</div>
										<div class="footer-right pull-right">
											in
											<a href="#">Cases</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>













        <div class="contact-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Contact Title -->
                        <div class="section-title">
                            <h3>Get a free consultation</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- Contact Form -->
                <div class="contact-innder">
                    <form action="#">
                        <div class="row pad">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" value="Name..." onblur="if (this.value=='') this.value='Name...';" onfocus="if (this.value=='Name...') this.value='';" id="name" name="name">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="email" value="Email..." onblur="if (this.value=='') this.value='Email...';" onfocus="if (this.value=='Email...') this.value='';" id="email" name="email">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" value="Subject..." onblur="if (this.value=='') this.value='Subject...';" onfocus="if (this.value=='Subject...') this.value='';" id="subject" name="subject">
                            </div>
                        </div>
                        <div class="row pad">
                            <div class="col-xs-12">
                                <textarea onblur="if (this.value=='') this.value='Message...';" onfocus="if (this.value=='Message...') this.value='';" id="message" name="message">Message...</textarea>
                            </div>
                        </div>
                        <div class="row pad">
                            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4">
                                <input type="text" required="" placeholder="3 + 4 = ?" name="sccaptcha">
                            </div>
                        </div>
                        <div class="row center">
                            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4">
                                <input type="submit" value="Send Message" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>






  <div class="footer-top-area">
			<div class="container" id="footer">
				<div class="row">
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Footer Left -->
						<div class="footer-left">
							<div class="left-footer-content">
								<!-- Footer Logo -->
								<p>
									<img src="img/footer-logo.png" alt="">
								</p>
								<p>Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law.</p>
							</div>
							<!-- Footer Social Widget -->
							<div class="left-footer-social">
								<ul class="top-social">
									<li>
										<a href="#" target="blank">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="#" target="blank">
											<i class="fa fa-pinterest"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<!-- Footer Center -->
						<div class="business-inner">
							<!-- Footer Title -->
							<h3 class="footer-title">
								<span>Business Hours</span>
							</h3>
							<div class="business-hour">
								<ul>
									<li>
										Monday 
										<b>9:00am - 9:00pm</b>
									</li>
									<li>
										Tuesday 
										<b>9:00am - 9:00pm</b>
									</li>
									<li>
										Wednesday 
										<b>9:00am - 9:00pm</b>
									</li>
									<li>
										Thursday 
										<b>9:00am - 9:00pm</b>
									</li>
									<li>
										Friday 
										<b>9:00am - 9:00pm</b>
									</li>
									<li>
										Saturday 
										<b>9:00am - 9:00pm</b>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="footer-contact">
							<!-- Footer Title -->
							<h3 class="footer-title">
								<span>Contact info</span>
							</h3>
							<div class="contact-address">
								<p>2901 Marmora Road, Glassgow, Seattle,
									<br> WA 98122-1090
									<br>Telephone: +1 1234-567-89000 
									<br>FAX: +1 0123-4567-8900
									<br>Email: <a href="mailto:admin@Bootexpert.com ">admin@Bootexpert.com </a>
									<br>Website: <a href="#">www.bootexpert.com </a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="footer-area">
			<div class="container">
				<div class="row">
					<!-- Copyright Araa -->
					<div class="col-md-8">
						<p>Copyright © 2013 - 2016 <a href="http://bootexperts.com/" target="blank">BootExperts</a>. All rights reserved</p>
					</div>
					<div class="col-md-4">
						<!-- Footer Menu -->
						<ul class="footer-menu">
							<li><a href="#">Home</a></li>
							<li><a href="#">Sample Sites</a></li>
							<li><a href="#">Joomla.org</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

<script>new WOW().init();</script>

</body>

</html>