<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">

<head>
    <title>RedPanthers</title>

</head>

<body>
    
    <div id="wrapper">


        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">

                <%= image_tag "bg1.jpg" %>
                    <%= image_tag "bg2.jpg" %>



                        <div class="container slider-height">
                            <div class="row slider-height">
                                <div class="col-md-6 slider-height">
                                    <div class="slide-text small-hidden">
                                        <!-- layer 1 -->
                                        <div class="cap-title title-black wow fadeInUp animated" data-wow-duration="0.9s" data-wow-delay="0s" style="visibility: visible; animation-duration: 0.9s; animation-delay: 0s; animation-name: fadeInUp;">
                                            <h4><strong>WE SPECIALIZE IN HELPING OUR CLIENTS VALIDATE,<br> BUILD AND EXPAND
THEIR BUSINESS THROUGH TECHNOLOGY</strong> </h4>
                                        </div>

                                        <!-- layer 3 -->
                                        <div class="cap-more wow fadeInDown animated" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInDown;">
                                            <a href="contact">Start a Project</a>
                                        </div>

                                        <div class="cap-img cap-img-2 wow fadeInDown animated animated" data-wow-duration="1.5s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInDown;">
                                            <%= image_tag "bg1.jpg" %>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

            </div>

        </div>












        <div class="feature-header section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="featured-inner">
                            <!-- Section Title start -->
                            <div class="section-title">
                                <h3>What We Do</h3>
                                <p>"Tell us what you need and the rest will be taken care of."</p>
                            </div>
                            <!-- Featured Details start -->
                            <div class="featured-details">
                                <p>Red Panthers is a Ruby on Rails development studio, based in the beautiful city of Cochin (known as the queen of Arabian Sea), India. We work with our clients hand-crafting applications that turns their ideas into profitable
                                    and effective businesses. Over the years we have worked with clients ranging from single person startup to MNC that have over 10,000 employees. Got a business/idea in your hand? Do you lack technological support? Unsure
                                    about how to implement your ideas? We, the Red panthers, is here to help you materialize your ideas.</p>
                                <h4>Get your Free Consultation <strong>(088) 123-456-7890</strong> Available 24/7</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="feature">
            <!-- Feature List -->
            <ul class="feature-list">
                <!-- Single Feature -->
                <li class="single-feature">
                    <div class="feature-box">
                        <p><i class="fa fa-user-secret"></i></p>
                        <h3>Product Strategy</h3>
                        <p>We believe in building softwares for the real world rather than for an idea user. To achieve this we invite our clients and their customers to be part of our product development right from day 0. Our process is to go feature by
                            feature, in quick sprints to ensure that we build the right tool fit for the market.</p>
                    </div>
                </li>
                <li class="single-feature">
                    <div class="feature-box">
                        <p><i class="fa fa-gavel"></i></p>
                        <h3>Interaction Design</h3>
                        <p>Technology should be designed to reduce human effort; not complicate it. It should be easy to understand(without a manual). To ensure that the design/system feels natural to our users we focus and observe the users workflow and
                            interate based on it.</p>
                    </div>
                </li>
                <li class="single-feature">
                    <div class="feature-box">
                        <p><i class="fa fa-heartbeat"></i></p>
                        <h3>Agile Development</h3>
                        <p>Adapting and responding to change is the DE-facto requirement for developing a product fit for the market, hence we have made being agile a part of our culture at Red Panthers. We deploy the latest technology and practices to ensure
                            rapid development with emphasis on stability and scalability.</p>
                    </div>
                </li>
            </ul>
        </div>










        <div class="extension-area section-padding">
            <div class="container">
                <div class="row">
                    <h2 class="stats-title text-center">
		                        What We Offer
		                    </h2>
                </div>
                <div class="row">

                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="extension-inner">

                            <h3 class="stats">
		                        “We aren’t simply another tech firm, we are plucky changers”
		                    </h3>
                            <p><h4> Red Panthers is a modern company built on synergy. Our employees are game changers in technology, giving our clients the best possible outcome, that is why we feel it is imperative to show value to our employees by offering
                                competitive benefits.</h4> </p>

                            <div class="row">
                                <div class="col-md-16 col-sm-10 col-xs-12">
                                <h4>
                                    <ul class="fa-ul">
                                        <li>
                                            <i class="fa fa-check"></i> Competitive salary





                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i> Professional development, certification and training
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i> Employee referral program
                                        </li>




                                        <li>
                                            <i class="fa fa-check"></i> Flexible hours
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i> Team outing,food and drinks

                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i> Awesome team to work with
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i> Team rotation

                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i> Paid Conferences
                                        </li>
                                    </ul>
</h4>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                <!--  <%= image_tag "service/working.jpg", :class => "animated fadeInUp"%>-->
                <div class="first">
                       <img src="<%= image_path 'h1.png'%> " class="animated pulse" alt="">
                            
</div>
                    </div>
                                        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                                        <div class="animated fadeIn" >
                                                            <div class="arrow_box ">

<h3>Let us give a look to what all we are offering to you!!!!</h3>
                    </div>
                    </div>

</div>
                </div>
            </div>
        </div>








        <div class="counter-area" style="background: url(<%= image_path 'counter-bg.jpg'%>) repeat scroll 0 0;">
            <div class="container">
                <div class="row">
                    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="single-counter wow animated" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s;">
                            <div class="counter-info">
                                <span class="fcount">
									<span class="counter">365</span>
                                </span>
                                <h3>Happy Clients</h3>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="single-counter wow animated" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s;">
                            <div class="counter-info">
                                <span class="fcount">
									<span class="counter">95</span>%</span>
                                <h3>Cases success</h3>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="single-counter wow animated" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s;">
                            <div class="counter-info">
                                <span class="fcount">
									<span class="counter">754</span>k</span>
                                <h3>Recovered</h3>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="single-counter wow animated" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s;">
                            <div class="counter-info">
                                <span class="fcount">
									<span class="counter">821</span>
                                </span>
                                <h3>Cases done</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="team-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Team Title -->
                        <div class="section-title text-center">
                            <h1>Meet Our Teams </br></h1>

                        </div>
                    </div>
                </div>
                <div class="row section-margin">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Team Member -->
                        <div class="team-members">
                            <!-- Member Image -->
                            <div class="member-image">
                                <img src="<%= image_path '3.jpg' %>" class="img-responsive" alt="">
                            </div>
                            <!-- Member Content -->
                            <div class="member-content text-center">
                                <h4 class="member-name">
									<a href="#">Hari Shankar</a>
								</h4>
                                <div class="position-title">Founder & CEO</div>
                                <p class="practice">Practice areas</p>
                                <p class="member-description">Business, Real Estate, Land, Family, Cyber Crime</p>
                            </div>
                            <!-- Member Widget -->
                            <div class="member-widget">
                                <ul>
                                    <li>
                                        <a href="#" target="blank" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Googleplus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Mail">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="team-members">
                            <!-- Member Image -->
                            <div class="member-image">
                                <img src="<%= image_path '2.jpg'%>" class="img-responsive" alt="">
                            </div>
                            <!-- Member Content -->
                            <div class="member-content text-center">
                                <h4 class="member-name">
									<a href="#">Sibin</a>
								</h4>
                                <div class="position-title">Developer </div>
                                <p class="practice">Practice areas</p>
                                <p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
                            </div>
                            <!-- Member Widget -->
                            <div class="member-widget">
                                <ul>
                                    <li>
                                        <a href="#" target="blank" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Googleplus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Mail">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Member Image -->
                        <div class="team-members">
                            <div class="member-image">
                                <img src="<%= image_path '13.jpg'%>" class="img-responsive" alt="" width="300">
                            </div>
                            <!-- Member Content -->
                            <div class="member-content text-center">
                                <h4 class="member-name">
									<a href="#">Ajay</a>
								</h4>
                                <div class="position-title">Developer</div>
                                <p class="practice">Practice areas</p>
                                <p class="member-description">Criminal, Business, Land, Cyber Crime, Real Estate,</p>
                            </div>
                            <!-- Member Widget -->
                            <div class="member-widget">
                                <ul>
                                    <li>
                                        <a href="#" target="blank" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Googleplus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Mail">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <!-- Member Image -->
                        <div class="team-members">
                            <div class="member-image">
                                <img src="<%= image_path '4.jpg'%>" class="img-responsive" alt="">
                            </div>
                            <!-- Member Content -->
                            <div class="member-content text-center">
                                <h4 class="member-name">
									<a href="#">Geethu</a>
								</h4>
                                <div class="position-title">HR</div>
                                <p class="practice">Practice areas</p>
                                <p class="member-description">Real Estate, Criminal, Business, Cyber Crime, Family,</p>
                            </div>
                            <!-- Member Widget -->
                            <div class="member-widget">
                                <ul>
                                    <li>
                                        <a href="#" target="blank" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="blank" title="Googleplus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Mail">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>










        <div class="blog-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Blog Title -->
                        <div class="section-title">
                            <h3>Read about our cases</h3>

                        </div>
                    </div>
                </div>
                <!-- Blog List -->
                <div class="row section-margin">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- Single Blog -->
                        <div class="single-blog">
                            <!-- Blog Image -->
                            <div class="blog-image">
                                <a href="#">
											<img src="<%= image_path '5.jpg'%>" alt="">
										</a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content section-margin">
                                <!-- Blog Content Header -->
                                <div class="blog-content-header">
                                    <!-- Blog Content Header Left -->
                                    <div class="header-left pull-left">
                                        <a href="#" class="title">Lambda vs Proc Vs Blocks</a>
                                        <div class="header-left-footer">
                                            Posted by
                                            <a href="#">Hari Shankar</a>
                                        </div>
                                    </div>
                                    <!-- Blog Content Header Right -->
                                    <div class="header-right pull-right">
                                        <span class="blog-month">Aug</span>
                                        <span class="blog-day">23</span>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                                <!-- Main Blog Content Right -->
                                <p class="main-blog-content"> The difference between these three is one of the most baffling concepts to grasp while anyone starts to learn ruby. Since at Red Panthers we recruit and build our own team from freshers, we too will be blogging about it
                                    here to make it easy for the beginners. But before we state the difference between the three, let me explain what all these three does to make it easy for you. </p>
                            </div>
                            <div class="clear-both"></div>
                            <!-- Blog Footer -->
                            <div class="blog-footer section-margin">
                                <div class="footer-left pull-left">
                                    <a href="#">Ream more</a>
                                </div>
                                <div class="footer-right pull-right">
                                    in
                                    <a href="#">Cases</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- Single Blog -->
                        <div class="single-blog">
                            <!-- Blog Image -->
                            <div class="blog-image">
                                <a href="#">
											<img src="<%= image_path '6.jpg'%>" alt="">
										</a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content section-margin">
                                <!-- Blog Content Header -->
                                <div class="blog-content-header">
                                    <!-- Blog Content Header Left-->
                                    <div class="header-left pull-left">
                                        <a href="#" class="title">Vim tutorial for beginners</a>
                                        <div class="header-left-footer">
                                            Posted by
                                            <a href="#">Ajay</a>
                                        </div>
                                    </div>
                                    <!-- Blog Content Header Right -->
                                    <div class="header-right pull-right">
                                        <span class="blog-month">Jan</span>
                                        <span class="blog-day">17</span>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                                <!-- Main Blog Content -->
                                <p class="main-blog-content">Vim stands for Vi Improved which is a clone of Bill Joy’s vi editor for Linux. It is designed for use both from a command line interface and as a standalone application in a graphical user interface. Vim is basically a
                                    open source application that is released under a license which includes some charityware clauses.Even though vim is available both in command line as well as an application with GUI, vim is widely used in command line
                                    and the full functionality is expressed through its command line mode. </p>
                            </div>
                            <div class="clear-both"></div>
                            <!-- Blog Footer -->
                            <div class="blog-footer  section-margin">
                                <div class="footer-left pull-left">
                                    <a href="#">Ream more</a>
                                </div>
                                <div class="footer-right pull-right">
                                    in
                                    <a href="#">Cases</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- Single Blog -->
                        <div class="single-blog">
                            <!-- Blog Image -->
                            <div class="blog-image">
                                <a href="#">
											<img src="<%= image_path '7.jpg'%>" alt="">
										</a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content section-margin">
                                <!-- Blog Content Header -->
                                <div class="blog-content-header">
                                    <!-- Blog Content Header Left -->
                                    <div class="header-left pull-left">
                                        <a href="#" class="title">React JS for modern web<br> applications</a>
                                        <div class="header-left-footer">
                                            Posted by
                                            <a href="#">Sibin</a>
                                        </div>
                                    </div>
                                    <!-- Blog Content Header Right -->
                                    <div class="header-right pull-right">
                                        <span class="blog-month">Jul</span>
                                        <span class="blog-day">22</span>
                                    </div>
                                </div>
                                <div class="clear-both"></div>
                                <!-- Main Blog Content -->
                                <p class="main-blog-content"><br>React JS is a JavaScript Framework which indent to make large, single page scalable applications. It is not like Angular or backbone or other JavaScript framework. React JS is only deals with view and not with model
                                    and controller. React JS is also compatible with backbone, so we can use backbone, React JS combination to get full MVC framework. React is intended to help developers build large applications that use data that change
                                    over time. Its goal is to be simple, declarative and composable. </p>
                            </div>
                            <div class="clear-both"></div>
                            <!-- Blog Footer -->
                            <div class="blog-footer  section-margin">
                                <div class="footer-left pull-left">
                                    <a href="#">Ream more</a>
                                </div>
                                <div class="footer-right pull-right">
                                    in
                                    <a href="#">Cases</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>













        <div class="contact-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Contact Title -->
                        <div class="section-title">
                            <h3>Get a free consultation</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- Contact Form -->
                <div class="contact-innder">
                    <form action="#">
                        <div class="row pad">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" value="Name..." onblur="if (this.value=='') this.value='Name...';" onfocus="if (this.value=='Name...') this.value='';" id="name" name="name">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="email" value="Email..." onblur="if (this.value=='') this.value='Email...';" onfocus="if (this.value=='Email...') this.value='';" id="email" name="email">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" value="Subject..." onblur="if (this.value=='') this.value='Subject...';" onfocus="if (this.value=='Subject...') this.value='';" id="subject" name="subject">
                            </div>
                        </div>
                        <div class="row pad">
                            <div class="col-xs-12">
                                <textarea onblur="if (this.value=='') this.value='Message...';" onfocus="if (this.value=='Message...') this.value='';" id="message" name="message">Message...</textarea>
                            </div>
                        </div>
                        <div class="row pad">
                            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4">
                                <input type="text" required="" placeholder="3 + 4 = ?" name="sccaptcha">
                            </div>
                        </div>
                        <div class="row center">
                            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4">
                                <input type="submit" value="Send Message" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <script>
            new WOW().init();
        </script>

</body>

</html>