
</div><div class="nav-helper-area" style="background: transparent url('img/nav-helper.png') repeat scroll 0 0">
	<div class="container">
			<ol class="breadcrumb">
					<li class="active">You are here:</li>
					<li><a href="index.html">Home</a></li>
					<li><a href="practicestyle1.html">Practice Areas</a></li>
					<li> <span>Practice Areas Style 1</span></li>
				</ol>
			</div>
		</div>
		<!-- Nav Helper end -->
		<!-- Attorney Artical start -->
		<div class="practice-area section-padding3">
			<div class="container">
				<div class="row portfolio">
					<div class="col-md-12">
						<ul class="portfolio_menu">
							<li class="filter active" data-filter="all">All</li>
							<li class="filter" data-filter=".business">Business</li>
							<li class="filter" data-filter=".cyber">Cyber</li>
							<li class="filter" data-filter=".family">Family</li>
							<li class="filter" data-filter=".medical">Medical</li>
							<li class="filter" data-filter=".other">Other</li>
							<li class="filter" data-filter=".property">Property</li>
						</ul>
						<div class="portfolio_list">
							<div class="single-item mix business">
								<div class="grid">
									<figure class="effect-roxy">
				 				   	<%= image_tag "business.jpg" %>
										<figcaption>
						          <h2>Business</h2>
						          <p><a href="singlepractice.html">View details</a></p>
						        </figcaption>
									<figure>
							 </div>
							</div>
							<div class="single-item mix cyber">
								<div class="grid">
									<figure class="effect-roxy">
								  	<%= image_tag "singlepage.jpg" %>
										<figcaption>
						          <h2>Employment Law</h2>
						          <p><a href="singlepractice.html">View details</a></p>
						        </figcaption>
									<figure>
							</div>
							</div>
						<div class="single-item mix family">
							<div class="grid">
							<figure class="effect-roxy">
								<%= image_tag "medical.jpg" %>
								<figcaption>
				          <h2>Medical Practice</h2>
				          <p><a href="singlepractice.html">View details</a></p>
				        </figcaption>
							<figure>
						</div>
					</div>
						<div class="single-item mix cyber">
							<div class="grid">
							<figure class="effect-roxy">
								<%= image_tag "cyber.jpg" %>
								<figcaption>
				          <h2>Cyber Law</h2>
				          <p><a href="singlepractice.html">View details</a></p>
				        </figcaption>
							<figure>
						</div>
						</div>
						<div class="single-item mix other">
							<div class="grid">
								<figure class="effect-roxy">
							    <%= image_tag "family.jpg" %>
									<figcaption>
					          <h2>Family Law</h2>
					          <p><a href="singlepractice.html">View details</a></p>
					        </figcaption>
								<figure>
						</div>
						</div>
						<div class="single-item mix other">
							<div class="grid">
								<figure class="effect-roxy">
							    <%= image_tag "road.png" %>
									<figcaption>
					          <h2>Charming Roxy</h2>
					          <p><a href="singlepractice.html">View details</a></p>
					        </figcaption>
								<figure>
						</div>
						</div>
						<div class="single-item mix other">
							<div class="grid">
								<figure class="effect-roxy">
							    <%= image_tag "income.jpg" %>
									<figcaption>
					          <h2>Income Tax</h2>
					          <p><a href="singlepractice.html">View details</a></p>
					        </figcaption>
								<figure>
						</div>
						</div>
						<div class="single-item mix business">
							<div class="grid">
								<figure class="effect-roxy">
							    <%= image_tag "land.jpg" %>
									<figcaption>
					          <h2>Land and Property</h2>
					          <p><a href="singlepractice.html">View details</a></p>
					        </figcaption>
								<figure>
						</div>
						</div>
						<div class="single-item mix property">
							<div class="grid">
								<figure class="effect-roxy">
							    <%= image_tag "other.jpg" %>
									<figcaption>
					          <h2>Other Cases</h2>
					          <p><a href="singlepractice.html">View details</a></p>
					        </figcaption>
								<figure>
						</div>
					</div>

						</div>
					</div>
				</div>
			</div>
		</div>
