
</div><div class="nav-helper-area">
	<div class="container">
			<ol class="breadcrumb">
					<li class="active">You are here:</li>
					<li><a href="index.html">Home</a></li>
					<li><a href="practicestyle1.html">Practice Areas</a></li>
					<li> <span>Practice Areas Style 1</span></li>
				</ol>
			</div>
		</div>
		<!-- Nav Helper end -->
		<!-- Attorney Artical start -->
		<div class="practice-area2 section-padding3">
			<div class="container">
				<div class="row portfolio">
					<div class="col-md-12">
						<ul class="portfolio_menu">
							<li class="filter active" data-filter="all">All</li>
							<li class="filter" data-filter=".business">Business</li>
							<li class="filter" data-filter=".cyber">Cyber</li>
							<li class="filter" data-filter=".family">Family</li>
							<li class="filter" data-filter=".medical">Medical</li>
							<li class="filter" data-filter=".other">Other</li>
							<li class="filter" data-filter=".property">Property</li>
						</ul>
						<div class="portfolio_list">
							<div class="single-item mix business">
								<div class="portfolio2-inner">
									<div class="portfolio-image">
										<%= image_tag "singlepage.jpg" %>
										<div class="portfolio-effect"></div>
									</div>
									<div class="portfolio-content overlay-mode">
										<h2 class="portfolio-title">
											<a href="singlepractice.html">Employment Law</a>
										</h2>
										<div class="content-text">
											Business & Finance Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque....
										</div>
										<a href="singlepractice.html" class="portfolio-content-link">Read More</a>
										<div class="portfolio-tag">
											Business
										</div>
									</div>
								</div>
							</div>
							<div class="single-item mix family">
								<div class="portfolio2-inner">
									<div class="portfolio-image">
										<%= image_tag "business.jpg" %>
										<div class="portfolio-effect"></div>
									</div>
									<div class="portfolio-content overlay-mode">
										<h2 class="portfolio-title">
											<a href="singlepractice.html">Business</a>
										</h2>
										<div class="content-text">
											Business & Finance Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque....
										</div>
										<a href="singlepractice.html" class="portfolio-content-link">Read More</a>
										<div class="portfolio-tag">
											Family
										</div>
									</div>
								</div>
							</div>
							<div class="single-item mix other">
								<div class="portfolio2-inner">
									<div class="portfolio-image">
										<%= image_tag "medical.jpg" %>
										<div class="portfolio-effect"></div>
									</div>
									<div class="portfolio-content overlay-mode">
										<h2 class="portfolio-title">
											<a href="singlepractice.html">Medical Practice</a>
										</h2>
										<div class="content-text">
											Business & Finance Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque....
										</div>
										<a href="singlepractice.html" class="portfolio-content-link">Read More</a>
										<div class="portfolio-tag">
											Other
										</div>
									</div>
								</div>
							</div>
							<div class="single-item mix cyber">
								<div class="portfolio2-inner">
									<div class="portfolio-image">
										<%= image_tag "cyber.jpg" %>
										<div class="portfolio-effect"></div>
									</div>
									<div class="portfolio-content overlay-mode">
										<h2 class="portfolio-title">
											<a href="singlepractice.html">Cyber Law</a>
										</h2>
										<div class="content-text">
											Business & Finance Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque....
										</div>
										<a href="singlepractice.html" class="portfolio-content-link">Read More</a>
										<div class="portfolio-tag">
											Cyber
										</div>
									</div>
								</div>
							</div>
							<div class="single-item mix medical">
								<div class="portfolio2-inner">
									<div class="portfolio-image">
										<%= image_tag "family.jpg" %>
										<div class="portfolio-effect"></div>
									</div>
									<div class="portfolio-content overlay-mode">
										<h2 class="portfolio-title">
											<a href="singlepractice.html">Family Law</a>
										</h2>
										<div class="content-text">
											Business & Finance Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque....
										</div>
										<a href="singlepractice.html" class="portfolio-content-link">Read More</a>
										<div class="portfolio-tag">
											Medical
										</div>
									</div>
								</div>
							</div>
							<div class="single-item mix property">
								<div class="portfolio2-inner">
									<div class="portfolio-image">
										<%= image_tag "road.png" %>
										<div class="portfolio-effect"></div>
									</div>
									<div class="portfolio-content overlay-mode">
										<h2 class="portfolio-title">
											<a href="singlepractice.html">Vehicle Accidents</a>
										</h2>
										<div class="content-text">
											Business & Finance Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque....
										</div>
										<a href="singlepractice.html" class="portfolio-content-link">Read More</a>
										<div class="portfolio-tag">
											Property
										</div>
									</div>
								</div>
							</div>
							<div class="single-item mix cyber">
								<div class="portfolio2-inner">
									<div class="portfolio-image">
										<%= image_tag "income.jpg" %>
										<div class="portfolio-effect"></div>
									</div>
									<div class="portfolio-content overlay-mode">
										<h2 class="portfolio-title">
											<a href="singlepractice.html">Income Tax</a>
										</h2>
										<div class="content-text">
											Business & Finance Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque....
										</div>
										<a href="singlepractice.html" class="portfolio-content-link">Read More</a>
										<div class="portfolio-tag">
											Cyber
										</div>
									</div>
								</div>
							</div>
							<div class="single-item mix business">
								<div class="portfolio2-inner">
									<div class="portfolio-image">
										<%= image_tag "land.jpg" %>
										<div class="portfolio-effect"></div>
									</div>
									<div class="portfolio-content overlay-mode">
										<h2 class="portfolio-title">
											<a href="singlepractice.html">Land and Property</a>
										</h2>
										<div class="content-text">
											Business & Finance Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque....
										</div>
										<a href="singlepractice.html" class="portfolio-content-link">Read More</a>
										<div class="portfolio-tag">
											Business
										</div>
									</div>
								</div>
							</div>
							<div class="single-item mix family">
								<div class="portfolio2-inner">
									<div class="portfolio-image">
										<%= image_tag "other.jpg" %>
										<div class="portfolio-effect"></div>
									</div>
									<div class="portfolio-content overlay-mode">
										<h2 class="portfolio-title">
											<a href="singlepractice.html">Other Cases</a>
										</h2>
										<div class="content-text">
											Business & Finance Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat pharetra. Suspendisse dapibus erat lectus rutrum bibendum. Praesent scscelerisque....
										</div>
										<a href="singlepractice.html" class="portfolio-content-link">Read More</a>
										<div class="portfolio-tag">
											Family
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
