<div class="nav-helper-area" style="background: transparent url(<%= image_path'ronr.jpg'%>) repeat scroll 0 0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">You are here: </li>
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li> <span>Tag page</span></li>
        </ol>
    </div>
</div>

<div class="tag-area section-padding3">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-8  col-md-8">

                <div class="blog-inner">
                    <div class="blog-image">
                        <a href="single-item.html">
                                    <img src="<%= image_path'lpb.png'%>" alt="">
                                </a>
                    </div>
                    <div class="tag-header">
                        <h2 class="tag-title blog-border">
                                    <a href="single-item.html">Lambda vs Proc Vs Blocks</a>
                                </h2>
                        <span class="tag-date-created">
                                    <i class="fa fa-clock-o"></i>
                                    Aug 23 2016
                                </span>
                        <div class="tag-category">
                            <i class="fa fa-file"></i>
                            <a href="blog.html">Blog</a>
                        </div>
                    </div>
                    <div class="blog-body">
                        <p>The difference between these three is one of the most baffling concepts to grasp while anyone starts to learn ruby. Since at Red Panthers we recruit and build our own team from freshers, we too will be blogging about it here to
                            make it easy for the beginners. But before we state the difference between the three, let me explain what all these three does to make it easy for you</p>
                    </div>
                    <div class="blog-read-more">
                        <a href="single-item.html" class="btn btn-secondary">
                                    Read more...
                                    <i class="fa fa-angle-right"></i>
                                </a>
                    </div>
                </div>

                <div class="blog-inner">
                    <div class="blog-image">
                        <a href="single-item.html">
                                    <img src="<%= image_path'enum.png'%>" alt="">
                                </a>
                    </div>
                    <div class="tag-header">
                        <h2 class="tag-title blog-border">
                                    <a href="single-item.html">Lazy enumerator to handle huge files</a>
                                </h2>
                        <span class="tag-date-created">
                                    <i class="fa fa-clock-o"></i>
                                    Aug 12 2016
                                </span>
                        <div class="tag-category">
                            <i class="fa fa-file"></i>
                            <a href="blog.html">Blog</a>
                        </div>
                    </div>
                    <div class="blog-body">
                        <p><strong>Lazy evaluation</strong>, or <strong>call-by-need</strong> is an evaluation strategy which delays the evaluation of an expression until its value is needed. Its frequently seen in functional languages, ruby introduced the
                            lazy method in Ruby 2.0. For those who don’t know what are enumerators: enumerators are something that can be counted. So a collection of elements, files (file is an collection of lines of string), etc can be treated as an
                            enumerator.
                        </p>
                    </div>
                    <div class="blog-read-more">
                        <a href="single-item.html" class="btn btn-secondary">
                                    Read more...
                                    <i class="fa fa-angle-right"></i>
                                </a>
                    </div>
                </div>

                <div class="blog-inner">
                    <div class="blog-image">
                        <a href="single-item.html">
                                    <img src="<%= image_path'post.png'%>" alt="">
                                </a>
                    </div>
                    <div class="tag-header">
                        <h2 class="tag-title blog-border">
                                    <a href="single-item.html">Optimising PostgreSQL database query using indexes</a>
                                </h2>
                        <span class="tag-date-created">
                                    <i class="fa fa-clock-o"></i>
                                    Aug 11 2016
                                </span>
                        <div class="tag-category">
                            <i class="fa fa-file"></i>
                            <a href="blog.html">Blog</a>
                        </div>
                    </div>
                    <div class="blog-body">
                        <p>At Red Panthers PostgreSQL is our go to database we use it everywhere. So thinking about how to optimize our database performance is one of the most talked about topic at our office. The best way to speed up report generation and
                            data retrieval within a rails application is to leave it to the database, as they have algorithms and optimizations build just for that. We always felt that most Ruby on Rails projects out there, do not use the full potential
                            of a database and they usually just limit it to a data store. PostgreSQL or any database for that matter is much more than that.</p>
                    </div>
                    <div class="blog-read-more">
                        <a href="single-item.html" class="btn btn-secondary">
                                    Read more...
                                    <i class="fa fa-angle-right"></i>
                                </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4  col-md-4">
                <div class="blog-widget">
                    <div class="categorie-widget widget-margin">

                        <h2 class="widget-title">Categories</h2>
                        <div class="cate-widget-list">
                            <ul>
                                <li>
                                    <a href="blog.html">
                                        <span class="cat-titel">Ruby</span>
                                        <span class="cat-count"> (3)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        <span class="cat-titel">Blog</span>
                                        <span class="cat-count"> (3)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        <span class="cat-titel">News</span>
                                        <span class="cat-count"> (0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        <span class="cat-titel">Rails</span>
                                        <span class="cat-count"> (0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        <span class="cat-titel">JS</span>
                                        <span class="cat-count"> (0)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        <span class="cat-titel">Heroku</span>
                                        <span class="cat-count"> (0)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="artical-widget  widget-margin">

                        <h2 class="widget-title">Legal articles</h2>
                        <div class="artical-widget-list">
                            <ul>

                                <li class="media-list">
                                    <a class="media-image pull-left" href="single-item.html" title="Continue reading">
                                                <img src="<%= image_path'post.png'%>" alt="">
                                            </a>
                                    <div class="media-body">
                                        <a href="#" class="media-body-title">
                                                    Optimising PostgreSQL database query using indexes
                                                </a>
                                        <div class="media-author">
                                            <a href="#" title="Super User">Harishankar P.S</a>
                                        </div>
                                        <div class="media-date-created">
                                            11 August 2016
                                        </div>
                                    </div>
                                </li>

                                <li class="media-list">
                                    <a class="media-image pull-left" href="single-item.html" title="Continue reading">
                                                <img src="<%= image_path'enum.png'%>" alt="">
                                            </a>
                                    <div class="media-body">
                                        <a href="#" class="media-body-title">
                                                    Lazy enumerator to handle huge files
                                                </a>
                                        <div class="media-author">
                                            <a href="#" title="Super User">Harishankar P.S</a>
                                        </div>
                                        <div class="media-date-created">
                                            12 August 2016
                                        </div>
                                    </div>
                                </li>

                                <li class="media-list">
                                    <a class="media-image pull-left" href="single-item.html" title="Continue reading">
                                                <img src="<%= image_path'lpb.png'%>" alt="">
                                            </a>
                                    <div class="media-body">
                                        <a href="#" class="media-body-title">
                                                   Lambda vs Proc Vs Blocks
                                                </a>
                                        <div class="media-author">
                                            <a href="#" title="Super User">Harishankar P.S</a>
                                        </div>
                                        <div class="media-date-created">
                                            23 August 2016
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tag-widget   widget-margin">

                        <h2 class="widget-title">Articles</h2>
                        <div class="tag-list">
                            <a href="#" title="2 items tagged with Attorney">Ruby</a>
                            <a href="#" title="1 items tagged with Business">Rails</a>
                            <a href="#" title="1 items tagged with Claim">PostgreSQL</a>
                            <a href="#" title="1 items tagged with Criminal">Java Script</a>
                            <a href="#" title="1 items tagged with Justice">Ajax</a>
                            <a href="#" title="1 items tagged with Land">Heroku</a>
                            <a href="#" title="1 items tagged with Law">Html</a>
                            <a href="#" title="1 items tagged with Legal assitance">Sass</a>
                            <a href="#" title="1 items tagged with Victim">RED PANTHERS</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Side Widget end -->
        </div>
    </div>
</div>