<!DOCTYPE html>
<html>
  <head>
    <title>FrontendTest2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'dashboard/dashboard.css', media: 'all' %>
    
  </head>

  <body class="fadeIn animated">
    <%= render 'partials/dashhead' %>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'dashboard/dashboard.js' %>
</html>
